.categories-table-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-bottom: 20px; 
  

    
    .title {
        font-size: 30px;
        font-weight: bold;
    }

    .new-category-btn {
        margin-top: 20px;
        background-color: rgb(241, 237, 213);
        color:  rgb(68, 121, 68);
        width: 200px; 
        height: 50px;
        padding: 10px;
        font-size: 16px; 
        font-weight: bold;
        border: 2px solid #fff; 
        border-radius: 5px; 
        border-color: rgb(68, 121, 68);
        border-style: double;
         
      }
       
    }

    .table {
        width: 100%; 
    }
