.page-content {
    padding-bottom: 200px; 
  }



.form-group {
    margin-bottom: 20px;
    margin-right: 50px;
    flex: 1;

    
}

.custom-label {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.mat-input-element {
    font-size: 20px;
    height: 20px;
    padding: 0%;

}

.new-word-form {
    display: flex;
    gap: 8px;
 
}

.add-button{
    background-color:rgb(68, 121, 68);
}


.words {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

h2 {
    margin-right: 20px;
}

